.section .Container{
padding-top: 60px;
padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 60px;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #302e4d;
}
.about .about-content .about-text h3 span{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
}

.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    margin: 0;
    border-bottom: 1px solid #e8dfec;
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.btn{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    transition: all 0.3s ease;
    display: inline-block;
}
.btn:hover{
    transform: scale(1.1);
}

.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.about .about-content .skills .skill-item h5{
    line-height: 25px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;
}
.about .about-content .skills .skill-item .progress{
    background-color: #e3e3e3;
    height: 8px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    overflow: visible;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
}
.about .about-content .skills .skill-item .progress .skill-percent{
    line-height: 40px;
    position: absolute;
    right: 0;
    color: #302e4d;
    top: -40px;
    font-weight: 400;
}

.about .about-content .education{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content .course{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0px;
}
.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    left: -7px;
    border-radius: 50%;
}
.about .about-content .timeline .timeline-item .timeline-date{
    font-size: 14px;
    font-weight: 400;
    color: #504e70;
    margin-bottom: 12px;
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #302e4d;
}
.about .about-content .timeline .timeline-text{
    font-size: 16px;
    line-height: 25px;
    color:#504e70;
    margin: 0;
}

@media (max-width: 1199px){
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
  }

  @media (max-width: 767px){
      .about .about-content .personal-info,
      .about .about-content .skills,
      .about .about-content .education,
      .about .about-content .course{
          flex: 0 0 100%;
          max-width: 100%;
      }
  }