.section .Container{
padding-top: 60px;
padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 60px;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #302e4d;
}
.about .about-content .about-text h3 span{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
}

.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    background-color: red;
}
.about .about-content .skills{
    flex: 0 0 60%;
    max-width: 60%;
    background-color: blue;
}